@charset "UTF-8";
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
ul, ol, li {
    list-style: none;
    margin: 0; padding: 0;
}
a {
    text-decoration: none;
    color: #fff;
}

@media (max-width:767px){
    h1 {
        font-family: 'Montserrat', sans-serif;
    }

    header {
        width: 100%; height: 100px;
        background-color: #000;
    }
    #head {
        width: 100%; height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #logo {
        width: 100%; height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #logo img{
        width: 100px; height: 100px;
        margin-left: 10px;
    }
    #logo .menu {
        width: 30px; height: 30px;
        margin-right: 10px;
    }
    #logo .menu:hover {
        cursor: pointer;
    }
    nav {
        display: none;
        position: absolute;
        background-color: #000;
        width: 100%;
        top: 100px;
        right: 0px;
    }
    nav ul {
        display: flex;
        flex-direction: column;
    }
    nav ul li {
        margin: 20px;
        letter-spacing: 2px;
        font-family: 'Montserrat', sans-serif;
    }
    footer {
        width: 100%;
        background-color: #222;
        display: flex;
        justify-content: center;
    }
    #foot {
        width: 1200px; height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        line-height: 40px;
    }
    #foot img {
        width: 200px; height: 200px;
    }
    .info {
        width: 100%;
        text-align: center;
    }
    .social {
        width: 100%;
        text-align: center;
    }
    #foot table th {
        text-align: left;
    }
    #foot .rights {
        width: 100%;
        text-align: center;
    }
}

@media (min-width:768px){
    h1 {
        font-family: 'Montserrat', sans-serif;
    }

    header {
        width: 100%; height: 100px;
        background-color: #000;
    }
    #head {
        width: 100%; height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #logo {
        width: 100px; height: 100px;
    }
    #logo img {
        width: 100%; height: 100%;
    }
    nav ul {
        display: flex;
    }
    nav ul li {
        margin: 20px;
        letter-spacing: 2px;
        font-family: 'Montserrat', sans-serif;
    }
    footer {
        width: 100%; height: 400px;
        background-color: #222;
        display: flex;
        justify-content: center;
    }
    #foot {
        width: 1200px; height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        line-height: 40px;
    }
    #foot img {
        width: 200px; height: 200px;
    }
    #foot table th {
        text-align: left;
    }
    #foot .rights {
        width: 100%;
        text-align: center;
    }
}

@media (min-width:1217px){
    h1 {
        font-family: 'Montserrat', sans-serif;
    }

    header {
        width: 100%; height: 100px;
        background-color: #000;
    }
    #head {
        width: 1200px; height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #logo {
        width: 100px; height: 100px;
    }
    #logo img {
        width: 100%; height: 100%;
    }
    nav ul {
        display: flex;
    }
    nav ul li {
        margin: 20px;
        letter-spacing: 2px;
        font-family: 'Montserrat', sans-serif;
    }

    footer {
        width: 100%; height: 400px;
        background-color: #222;
        display: flex;
        justify-content: center;
    }
    #foot {
        width: 1200px; height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        line-height: 40px;
    }
    #foot img {
        width: 200px; height: 200px;
    }
    #foot table th {
        text-align: left;
    }
    #foot .rights {
        width: 100%;
        text-align: center;
    }
}