@charset "UTF-8";
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@media (min-width:768px){
    #slider {
        background-color: #222;
    }
    #slider img {
        width: 100%;
    }

    #news {
        width: 100%;
        background-color: #222;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .news {
        width: 90%;
        padding: 100px 0;
    }
    .title {
        display: flex;
    }
    .title span {
        display: inline-block;
        width: 10px; height: 25px;
        margin-top: 7px;
        background-color: #B8FCCC;
    }
    .title h1 {
        margin: 0 0 10px 10px;
    }
    .newsbox {
        width: 100%;
        margin: 0 auto;
        position: relative;
        display: flex;
    }
    .photobox {
        position: relative;
        width: 100%;
        background-color: #000;
        overflow: hidden;
    }
    .photobox img {
        width: 100%; height: 100%;
        transition: all ease 0.3s;
    }
    .line {
        position: absolute;
        bottom: 0; left: 0;
        width: 0%; height: 5px;
        background-color: #fff;
    }
    .newsimg:hover {
        transform: scale(1.1);
        opacity: 0.5;
    }
    .textbox {
        position: absolute;
        bottom: 50px;
        margin-left: 20px;
    }
    .textbox p {
        font-family: 'NEXON Lv1 Gothic OTF';
        font-size: 16px;
    }
    .article {
        font-size: 24px;
    }

    #league {
        width: 100%; height: 1100px;
        background-color: #333;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .league {
        width: 100%; height: 900px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .league h3, .league h4 {
        text-align: center;
        font-family: 'NEXON Lv1 Gothic OTF';
        letter-spacing: 2px;
        line-height: 40px;
    }
    .nextmatch {
        width: 90%; height: 400px;
        border: 1px solid #B8FCCC;
    }
    .league h2 {
        background-color: #B8FCCC;
        color: #333;
        padding: 10px;
    }
    .match {
        display: flex;
        justify-content: space-around;
        margin: 10px 0 30px;
    }
    .match img {
        width: 100px; height: 100px;
    }
    .match p {
        text-align: center;
        font-family: 'NEXON Lv1 Gothic OTF';
    }
    .vs {
        display: block;
        padding: 5px 15px;
        margin: 50px 0;
        background-color: #B8FCCC;
        color: #000;
        font-weight: bold;
        text-align: center;
        border-radius: 30px;
    }
    .ranking {
        width: 90%; height: 400px;
        border: 1px solid #B8FCCC;
    }
    .ranking table {
        width: 100%; height: 350px;
        border-collapse: collapse;
        text-align: center;
    }

    .ranking thead tr td {
        font-size: 14px;
    }
    .ranking table td {
        font-size: 20px;
        font-family: 'NEXON Lv1 Gothic OTF';
    }
    .dk {
        color: #B8FCCC;
        font-weight: bold;
    }
    .ranking table td:nth-of-type(1) {
        width: 5%;
    }
    .ranking table td:nth-of-type(2) {
        width: 20%;
    }
    .ranking table td:nth-of-type(5) {
        border-right: 1px solid #B8FCCC;
    }
    .ranking table td:nth-of-type(6) {
        width: 5%;
    }
    .ranking table td:nth-of-type(7) {
        width: 20%;
    }
    .ranking2 {
        display: none;
    }

    #youtube {
        width: 100%;
        background-color: #222;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .youtube {
        width: 90%;
        padding: 100px 0;
    }
    .videobox {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .video1, .video2, .video4 {
        
        display: none;
    }
    .video3 {
        width: 100%;
    }
    .video3 iframe {
        min-height: 500px;
    }

    #shop {
        width: 100%;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .shop {
        width: 90%;
        padding: 100px 0;
    }
    .product {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .product img {
        width: 330px;
        border-radius: 10px;
    }
    .product p {
        position: relative;
        bottom: 50px;
        color: #000;
        text-align: center;
        font-weight: bold;
    }
    .product3 {
        display: none;
    }
}