@charset "UTF-8";
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#history {
    width: 100%;
    background-color: #222;
    display: flex;
    justify-content: center;
}
.history {
    width: 600px;
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.title {
    display: flex;
}
.title span {
    display: inline-block;
    width: 10px; height: 25px;
    margin-top: 7px;
    background-color: #B8FCCC;
}
.title h1 {
    margin: 0 0 10px 10px;
}
.history h1 {
    text-align: center;
    margin-bottom: 30px;
}
.history h2 {
    width: 100%;
}
.history ul {
    list-style-type: circle;
}
.history li {
    font-family: 'NEXON Lv1 Gothic OTF';
    line-height: 50px;
    font-size: 20px;
}
.awards {
    width: 600px;
    margin: 10px 0 30px 0; padding: 10px;
    background-color: #333;
    text-align: left;
    border-radius: 10px;
}
span {
    color: #B8FCCC;
    font-weight: bold;
}

#team {
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
}
.team {
    width: 1200px;
    padding: 100px 0;
}
#players {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
#players h1, #coaches h1 {
    width: 100%;
    margin-bottom: 30px;
}
.players, .coaches{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.player, .coach{
    width: 30%;
    margin-bottom: 30px;
}
.player img, .coach img {
    width: 100%;
}
.player h3, .coach h3 {
    color: #B8FCCC;
    font-size: 30px;
}
.txt {
    padding: 20px 10px;
    background-color: #444;
}